ExampleProject/ExampleProject.sln
ExampleProject/ExampleProject.userprefs
ExampleProject/ExampleProject-csharp.sln
ExampleProject/Assembly-CSharp-Editor.pidb
ExampleProject/Assembly-CSharp-firstpass-vs.csproj
ExampleProject/Assembly-CSharp-firstpass.csproj
ExampleProject/Assembly-CSharp-firstpass.pidb
ExampleProject/Assembly-CSharp-Editor-vs.csproj
ExampleProject/Assembly-CSharp-Editor.csproj
